body {
    text-align: center;
}


/* Modal */
.modal {
	position: fixed;
	margin: -10px;
	padding: 12rem 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(180, 180, 180, 0.4);
}

.modal-head {
	font-size: 2.5rem;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.modal-btn {
	width: 14rem;
    height: 4rem;
    cursor: pointer;
    border-radius: 0.313rem;
    border: none;
    font-size: 1.5rem;
    background: rgba(240, 240, 240, 0.6);
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.modal-btn:hover {
	background: rgba(110, 110, 110, 0.4);
}

.hide {
	display: none;
}